html, body {
	height: 100%;
    margin: 0px;
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	background-color: #e2e2e2;
}

h1 {
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.center {
	text-align: center;
}

input {
	width: auto;
}

#cardImage {
	width: 150px;
	display: none;
}

#preview {
	background-color: #fff;
}

#gridContainer {
	display: grid;
	grid-template-columns: 1fr auto auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	grid-column-gap: 10px;
}

#editorContainer {
	display: grid;
	grid-template-columns: auto 1fr;
	align-content: start;
}

#previewContainer {
	max-width: 45vw;
}

#copyArea {
	position: absolute;
	left: -9999px;
	height: 0px;
}

#leftButton {
	width: 49%;
	padding: 0;
}

#rightButton {
	width: 49%;
	padding: 0;
	float: right;
}

.spacer {
	margin-top: 3px;
	height: 1pt;
	background-color: #ccc;
	margin-bottom: 3px;
}