html, body {
    height: 100%;
    margin: 0;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    background-color: #e2e2e2;
}

.box {
    border: 1px solid black;
    background-color: #fff;
}

.center-text {
    text-align: center;
}

button {
    background-color: #f2f2f2;
    width: 70%;
}

.console-output {
    height: 100%;
    overflow-y: auto;
}
.prewrap {
    white-space: pre-wrap;
}